<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Hello from Facelets
        <h:form>
            >
            <h:commandLink action="listarDepartamentos.xhtml" value="in">Listar departamento</h:commandLink>
            <br/>
            <br/>
            <br/>
            <h:commandLink action="inserirDepartamento.xhtml" value="in">Inserir departamento</h:commandLink>
        </h:form>

    </h:body>
</html>

