<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <form method="post" action="http://172.16.90.96:8080/ServerRest/rest/departamento/inserir" >
            <input  name="descricao" type="text"></input>

            <input  name="idPai" type="text"></input>

            <input  name="idUnidade" type="text"></input>

            <input name="Salvar"  type="submit" />
        </form>
    </h:body>
</html>

