<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
<!--        <f:view>
            <h:dataTable value="#{departamentoMB.ds}" var="c" styleClass="tabela"   headerClass="cabecalho" columnClasses="ultimo,primeiro">

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Número"/>
                    </f:facet>
                    <h:outputLabel value="#{c.id}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Descrição"/>
                    </f:facet>
                    <h:outputLabel value="#{c.descricao}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Pai"/>
                    </f:facet>
                    <h:outputLabel value="#{c.idPai}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Unidade"/>
                    </f:facet>
                    <h:outputLabel value="#{c.idUnidade}"/>

                </h:column>

            </h:dataTable>
            </h:form>
        </f:view>-->

    </h:body>
</html>

